/* RESETS */

h1, section, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

ul, li {
  list-style: none;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* ELEMENTS */

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-align: center;
}

.board-wrapper {
  width: 800px;
  height: 800px;
  border: 5px solid #000;
  margin: 20px auto;
}

.tile {
  display: block;
  float :left;
  height: 100px;
  width: 100px;
}

/* BOARD COLORING */

.row:nth-child(odd) > .tile:nth-child(odd),
.row:nth-child(even) > .tile:nth-child(even) {
  background: #ddd;
}

.row:nth-child(odd) > .tile:nth-child(even),
.row:nth-child(even) > .tile:nth-child(odd) {
  background: #999;
}

.board > .row > .tile.hovered {
  cursor: pointer;
  background: #E8FC00;
}

.board > .row > .tile.selected {
  cursor: pointer;
  background: #FC00E9;
}

.board > .row > .tile.potential {
  cursor: pointer;
  background: #FC8A00;
  box-sizing: border-box;
  border: 10px solid #965200;
}

/* PIECE STYLES */

.board > .row > .tile.pawn.white {
  background-image: url("images/piece_sets/standard/white_pawn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.pawn.black {
  background-image: url("images/piece_sets/standard/black_pawn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.rook.white {
  background-image: url("images/piece_sets/standard/white_rook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.rook.black {
  background-image: url("images/piece_sets/standard/black_rook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.bishop.white {
  background-image: url("images/piece_sets/standard/white_bishop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.bishop.black {
  background-image: url("images/piece_sets/standard/black_bishop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.knight.white {
  background-image: url("images/piece_sets/standard/white_knight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.knight.black {
  background-image: url("images/piece_sets/standard/black_knight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.queen.white {
  background-image: url("images/piece_sets/standard/white_queen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.queen.black {
  background-image: url("images/piece_sets/standard/black_queen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.king.white {
  background-image: url("images/piece_sets/standard/white_king.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board > .row > .tile.king.black {
  background-image: url("images/piece_sets/standard/black_king.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}