/* RESETS */

h1, section, ul, li, p {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

ul, li {
  list-style: none;
}

h1, p {
  font-family: sans-serif;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* ELEMENTS */

h1 {
  font-size: 26px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

.board-wrapper {
  width: 600px;
  height: 600px;
  border: 5px solid #000;
  margin: 20px auto;
}

.tile {
  display: block;
  float :left;
  height: 75px;
  width: 75px;
}

/* BOARD COLORING */

.row:nth-child(odd) .tile:nth-child(odd),
.row:nth-child(even) .tile:nth-child(even) {
  background-color: #ddd;
}

.row:nth-child(odd) .tile:nth-child(even),
.row:nth-child(even) .tile:nth-child(odd) {
  background-color: #999;
}

.board > .row > .tile.hovered {
  cursor: pointer;
  background-color: #E8FC00;
}

.board > .row > .tile.selected {
  cursor: pointer;
  background-color: #FC00E9;
}

.board > .row > .tile.potential {
  background-color: #FC8A00;
  box-sizing: border-box;
  border: 6px solid #965200;
}

.board > .row > .tile.potential:hover {
  cursor: pointer;
  background-color: #FDB300;
}

.captured-wrapper {
  width: 800px;
  display: block;
  margin: 20px auto;
  min-height: 200px;
}

.black-captured, .white-captured {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 500px;
  padding: 20px;
}

.capture {
  height: 50px;
  width: 50px;
  display: block;
  float: right;
}

.black-captured > .capture {
  float: left;
}

/* PIECE STYLES */

.pawn.white {
  background-image: url("images/piece_sets/standard/white_pawn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pawn.black {
  background-image: url("images/piece_sets/standard/black_pawn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rook.white {
  background-image: url("images/piece_sets/standard/white_rook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rook.black {
  background-image: url("images/piece_sets/standard/black_rook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bishop.white {
  background-image: url("images/piece_sets/standard/white_bishop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bishop.black {
  background-image: url("images/piece_sets/standard/black_bishop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.knight.white {
  background-image: url("images/piece_sets/standard/white_knight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.knight.black {
  background-image: url("images/piece_sets/standard/black_knight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.queen.white {
  background-image: url("images/piece_sets/standard/white_queen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.queen.black {
  background-image: url("images/piece_sets/standard/black_queen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.king.white {
  background-image: url("images/piece_sets/standard/white_king.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.king.black {
  background-image: url("images/piece_sets/standard/black_king.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}